body{
  background-color: black;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/402/935/577/black-red-line-light-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;

}