  img{
    border-radius: 10px;
  }
  body{
    background-color: LightBlue;
    background-image: url('resimler\arkaplan desen-1.jpg');
    font-family: 'Pushster', cursive;
  }
  a:hover{
    background-color: royalblue;
    -webkit-text-stroke: blue;
  }
  div{
    background-color: DodgerBlue;
    display:inline-block;
    width:25%;
    border-style:solid;
    border-width:3;
    border-radius:10px;
    padding: 10px;
  }
  h1{
    color:SaddleBrown;
  }
  ul { /*2.Adım : Madde işaretlerini kaldır*/
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  li { /* 3.Adım : Yan yana al */
      float: left;
  }
  li a { /* 4.Adım linkleri blok haline getir */
      display: block;
      padding:12px 14px;
      background-color: #27ae60;
  }
    li a { /* 5.Adım : Menüdeki a elemenlerinin alt çizgilerini vs kaldırma */
      color:white;
      text-decoration:none; 
  }
  li a:hover{ /* 6.Adım : Menü seçeneği üzerine gidince rengini değiştir */
    background-color:#23834c; 
  }
  li a:hover:not(.active) { /* 7.Adım : Aktif sayfa için */ 
    background-color: #111;
  }
  .active { /* 7.Adım : Aktif sayfa için  */
    background-color: #f39c12;
  }
