body{
  background-color: black;
  background-image: url("https://images6.alphacoders.com/483/thumb-1920-483806.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
}