body{
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/273/317/69/lines-dark-blue-abstract-wallpaper-preview.jpg');
  background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}